  .as-a.driver .header {
    text-align: right;
  }

  .as-a.driver .feature a{
    float: right;
  }

  .as-a.passenger .feature a {
    float: left;
    padding-right: 10px;
  }

  .as-a .btn-tutorial {
    float: none !important;
    text-center: center;
    padding: 8px;
    width: 100%;
  }



@media (max-width: 768px) {
  .as-a .header{
    text-align: center !important;
  }

  .as-a .feature {
    text-align: center !important;
  }
}
